<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Messages</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link to your custom CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1>Uploaded Messages</h1>
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item">
                <div class="message-content">
                    {{ message.message }}
                </div>
                <div class="message-timestamp">
                    {{ message.timestamp }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>