/* Bing Chilling*/
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #000;
}

.list-group-item {
    background-color: #000;
    border-color: #444;
}

/* Styling for the 'Uploaded Messages' header */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Styling for the message content */
.message-content {
    color: #fff;
    font-size: 16px;
    line-height: 1.4;
}

/* Styling for the timestamp */
.message-timestamp {
    color: #aaa;
    font-size: 14px;
}